
<h1> Blocitoff ma fucka </h1>


<!-- going to make form -->


<%= form_for List.new do |f| %>

  Title: <%= f.text_field :title %>

  <%= f.submit %>

<% end %>

<br/>
<div class="jumbotron">

  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

